<%- include('partials/header') -%>

<h1>Home Screen</h1>
<p> <%= insideContent %> </p>


<% for (var count = 0 ; count<submittedPosts.length ; count++){ %>
    <p><%= submittedPosts[count].titleTextBox  %></p>
    <p><%= submittedPosts[count].postTextbox  %></p>


<% } %> 






<%- include('partials/footer') -%>