<%- include('partials/header') -%>

<h1>Home Screen</h1>
<p> <%= insideContent %> </p>


<% submittedPosts.forEach(function(element) { %>
    <h1> <%= element.mainTitle %></h1>
    <p> <%= element.mainBody %></p>
<% }); %>







<%- include('partials/footer') -%>