<%- include('partials/header') -%>


<h1>Home Screen</h1>
<p> <%= insideContent %> </p>

<% submittedPosts.forEach(function(element) { %>
    <h1> <%= element.mainTitle %></h1>
    <p> <%= element.mainBody.substring(0,100)+'...'  %></p>
    <% var linkTOPage = '/posts/' + element.mainTitle.replace(" ","-"); console.log(linkTOPage + ' link to page '); %>

    <a href=<%=linkTOPage%>> Read More </a>



<% }); %>




<script src="home.js"></script>

<%- include('partials/footer') -%>
