<%- include("partials/header"); -%>
  <h1 name='title' ><%=title%></h1>
  <p><%=content%></p>
  <a href="/delete/posts/<%=postId%>">Delete</a>
  <a href="/edit/posts/<%=postId%>">Edit</a>
  
  <%- include("partials/footer"); -%>
